#page{
	width:1000px;
	margin:0 auto;
}
.page-title{
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
h1{
	color:#0c752b;
	font-size:45px;
	text-shadow: 2px 2px #25d258
}
ul li{
	list-style-type:none;
	padding:0;
	margin:0;
}
.main-menu{
	background-color:#ccc;
	margin:0 auto;
	width:1000px;
	padding:10px 0;
	border-top:1px solid #9a9a9a;
	border-bottom:1px solid #9a9a9a; 
}
.main-menu ul li{
	display:inline-block;
	padding:0 66px;
	margin-right:5px;
}
.main-menu ul li a{
	text-decoration:none;
	color:#33542a;
	font-family: "Kozuka Gothic Pr6n";
	line-height:0;
	font-size:25px;
}
.download{
	background-image:url("/images/olive_circuit_bg.png");
	height:384px;	
}
.download-box{
	padding:144px;
}
.download-content{
	background-color:rgba(0,0,0,0.5);
	text-align:center;
	padding:20px;
}
.download-content a {
	padding: 10px 20px;
	background-color: #39b127;
}
.download-content h2,
.download-content a {
	font-family: "Kozuka Gothic Pr6n";
	color: #fff;
}
.portfolio{
	padding:26px 69px;
}
.portfolio h2{
	text-align:center;
	color:#ccc;
	text-decoration:underline;
	margin:0 auto;
	width:176px;
	margin-bottom: 20px;
}
.portfolio-box {
	display: inline-block;
	width: 376px;
	border: 1px solid #b9acac;
	margin-right: 101px;
	margin-bottom: 50px;
}
.portfolio-box a img{
	width:376px;
}
.portfolio-box a{
	vertical-align:middle;
}
.portfolio-box:nth-child(3),.portfolio-box:nth-child(5),
.portfolio-box:last-child{
	margin: 0;
}
#content > div.portfolio > div:nth-child(7) > a > img{
	height: 196px;
}
.about{
	padding:26px 69px;
}.about h2{
	text-align:center;
	color:#ccc;
	text-decoration:underline;
	margin:0 auto;
	width:176px;
	margin-bottom: 20px;
}
.about-box{
	background-color:#dfdfdf;
	padding:30px;
}
.about-description{
	width:385px;
	vertical-align:top;
	margin-right:50px;
}
.about-description, .about-matrix{
	display:inline-block;
}
.about-description h3,
.about-description p{
	font-family:"Kozuka Gothic Pr6n";
	line-height:25px;
}
.about-description h3{
	font-style:italic;
}
.about-matrix{
	width:362px;
}
.about-matrix img{
	width:362px;
}
.contact-box1,.contact-box2{
	display:inline-block;
}
.contact{
	background-color:#dfdfdf;
	height:330px;
	margin-top:50px;
	background-size:100% 100%;
}
.contact-box1 p,
.contact-box2 p {
	font-family: "Myriad Pro";
}
.contact-box1 p{
	width:330px;
	margin:21px auto;
	font-style:Italic;
}
.contact-box1{
	text-align:center;
	padding-top:20px;
	clear:both;
	margin-left:100px;
	float:left;
}
.contact-box2{
	float:right;
	width:400px;
	padding-top:40px;
	margin-right:80px;
}
.contact-box2 table tr rd p{
	margin:5px;
}
.contact-box2 table tr:nth-child(3) th {
	vertical-align: top;
}
.contact-box2 table tr th {
	font-weight: normal;
	text-align: left;
	width: 110px;
}
.contact-box2 table tr td input {
	width: 276px;
	margin-bottom:5px;
}
.contact-box2 table tr:nth-child(4) td {
	padding: 8px 0;
}

.contact-box2 table tr:nth-child(4) td a {
	background-color: #39b127;
	padding: 9px 118px;
	color: #fff;
	border: 1px solid #237318;
	text-decoration:none;
}
.contact-box2 table tr td textarea {
	width: 276px;
	height: 124px;
	margin-bottom:5px;
}
.contact-box2  table  tbody  tr:nth-child(1)  td:nth-child(1) {
	width: 90px;
}
.contact-box2  table  tbody  tr:nth-child(3)  td:nth-child(1) {
	vertical-align: initial;
}
.contact-box2  table  tbody  tr:nth-child(3)  td:nth-child(1)  p {
	margin: 0 auto;
}
footer{
	background-color:#39b127;
	height:auto;
}
.copyright-note{
	width:500px;
	margin:0 auto;
}
.copyright-note p{
	text-align:center;
	color:#fff;
	font-family:"Myriad Pro";
	margin:0;
	padding:16px;
}
